.modal {
  height: 90vh;
  width: 100vw;
  position: absolute;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#2a00b7, #42006c);
  top: 100px;
  left: 0;
}
.container {
  background-color: white;
  height: 30%;
  width: 40%;
  border-radius: 10px;
  display: flex;
  position: relative;
  justify-content: center;
}
.remove {
  background-color: #42006c;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  justify-self: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: beige;
  margin: 0.5rem;
}
.content {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
