.regCompPageBody {
  height: 90vh;
  width: 100vw;
  position: absolute;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#2a00b7, #42006c);
  top: 100px;
  left: 0;
}
.container {
  width: 50rem;
  height: auto;
  margin: 4rem auto 0 auto;
  background-color: white;
  border-radius: 2rem;
  padding: 4rem;
  font-size: 1.8rem;
  color: transparent;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.title {
  margin-bottom: 2rem;
  font-size: 3.2rem;
  letter-spacing: 3px;
  font-weight: 500;
  color: #42006c;
}

.company__name,
.company__description {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  letter-spacing: 1px;
  font-size: 2.4rem;
  color: #42006c;
}

.company__description textarea {
  resize: none;
}

.button {
  background-color: transparent;
  color: #42006c;
  padding: 10px 15px;
  border: 2px solid;
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s;
}

.button:hover {
  border: 2px solid #42006c;
  border-radius: 20px;
  cursor: pointer;
}
